﻿@page "/"
@using BlazorMongoDB.DbAccess
@using BlazorMongoDB.Models


<h3>@aTest.test_id</h3>

@if (testList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            @if (testList.Count == 0)
            {
                <p>There are no records</p>
            }
            else
            {
                @foreach (var test in testList)
                {
                    <tr>
                        <td>
                            @test.Id
                        </td>
                        <td>
                            @test.test_id
                        </td>
                    </tr>


                }

            }


        </tbody>


    </table>

    <h3>Devices</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Firmware</th>
                <th>Label</th>
                <th>Phase Connection</th>
                <th>Neutral Connection</th>
                <th>Mesh Index</th>
                <th>Serial Number</th>
                <th>Hardware Revision</th>
                <th>Load</th>


            </tr>
        </thead>
        <tbody>
           
            
                @foreach (var test in aTest.devices)
                {
                    <tr>
                        <td>
                            @test.device_id
                        </td>
                        <td>
                            @test.firmware
                        </td>
                        <td>
                            @test.label
                        </td>
                        <td>
                            @test.phase_connection
                        </td>
                        <td>
                            @test.neutral_connection
                        </td>
                        <td>
                            @test.mesh_index
                        </td>
                        <td>
                            @test.serial_number
                        </td>
                        <td>
                            @test.hardware_revision
                        </td>
                        <td>
                            @test.load
                        </td>
                    </tr>


                }

            


        </tbody>


    </table>
    <h3>Events</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Time Stamp</th>
                <th>Event Type</th>
                <th>Temperature</th>              
                <th>Result</th>


            </tr>
        </thead>
        <tbody>
           
            
                @foreach (var test in aTest.events)
                {
                    <tr>
                        <td>
                            @test.time_stamp
                        </td>
                        <td>
                            @test.event_type
                        </td>
                        <td>
                            @test.temperature
                            
                        </td>
                        <td>
                            @foreach (var result in test.devices)
                            {
                                <ul>
                                    <li>
                                        <strong>Device ID:</strong>@result.device_id   <strong>Result:</strong>@result.result   <strong>Data:</strong>@result.data
                                    </li>
                                </ul>
                            }

                        </td>
                        
                    </tr>





                }

            


        </tbody>


    </table>


}



@code{

    MongoCRUD db = new MongoCRUD("PlejdTest");

    List<TestModel> testList;
    TestModel aTest = new TestModel();


    protected override void OnInitialized()
    {
        testList = db.LoadRecords<TestModel>("test");
        aTest = testList[0];
    }


}